{% extends "layout.html" %}

{% block title %} Anasayfa {% endblock %}

{% block content %}
    <h1>Anasayfa</h1>
    <p>anasayfa içerikleri</p>
    <br>
    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Quam laboriosam incidunt reiciendis omnis aliquid cumque. Cum assumenda ut nisi error reprehenderit harum earum necessitatibus at aliquid. Consequuntur voluptatum aspernatur doloribus.</p>
{% endblock %}

{% block content2 %}
    <h1>Title</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptates, consequuntur! Ad eos vero neque nostrum eum aliquid similique impedit voluptate vitae mollitia assumenda sequi quaerat voluptatem nemo, cumque deleniti ipsam doloribus? Esse autem perspiciatis distinctio iste eius ex provident sunt unde accusantium! Soluta a ipsum vel et officia eligendi at.</p>
{% endblock %}