<div class="navcontainer">
    <nav class="header">
        <div>    
            <a href="/" class="logo">Logo</a>
            <ul class="navbar">
                <li><a href="/">Anasayfa</a></li>
                <li><a href="/urunler">Ürünler</a></li>
                <li><a href="{% url "create_product" %}">Ürün Ekle</a></li>
            </ul>
        </div>
        <div>
            <ul class="navbar">
                <li><a href="#">Giriş Yap</a></li>
                <li><a href="#">Kaydol</a></li>
            </ul>
        </div>
    </nav>
</div>