{% extends "layout.html" %}

{% load static %}

{% block title %} Ürünler {% endblock %}
{% block css_files %} <link rel="stylesheet" href="{% static "products/css/style.css" %}"> {% endblock %}

{% block content %}
    <div class="list">
        <ul>
            <a href="#" class="list-item">Yemekler</a>
            <a href="#" class="list-item">Dürümler</a>
            <a href="#" class="list-item">İçecekler</a>
        </ul>
    </div>
{% endblock %}

{% block content2 %}
    <div class="list">
        {% for p in product %}
            {% include "products/partials/product.html" %}
        {% endfor %}
    </div>
{% endblock %}