{% extends "layout.html" %}

{% load static %}

{% block title %} Ürünler {% endblock %}
{% block css_files %} <link rel="stylesheet" href="{% static "products/css/style.css" %}"> {% endblock %}

{% block content %}
    <div class="col-3">
        <div class="list">
            <a class="list-item" href="/urunler">Tümü</a>
            {% for c in category %}
                <ul>
                    <a href="{% url "products_by_category" c.slug %}" class={% if activeCategory == c.slug %} "list-item-active" {% else %}"list-item"{% endif %}>{{c.name}}</a>
                </ul>
            {% endfor %}
        </div>
    </div>
{% endblock %}

{% block content2 %}
    <div class="col-9">
        <div class="list">
            <form class="d-flex" action="{% url "search" %}">
                <input class="search" type="text" name="q" placeholder="Ürün Ara">
                <button type="submit" class="s-btn">Ara</button>
            </form>
        </div>
    </div>
    <div class="col-9">
        <div class="list">
            {% if product|length == 0 %}
                <div class="alert-warning">Ürün Blunumadı</div>
            {% endif %}
            
            {% for p in product %}
                {% include "products/partials/product.html" %}
            {% endfor %}
        </div>
    </div>
{% endblock %}